@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    /* PRIMARY COLORS */
    --primary-lime-green: hsl(163, 72%, 41%);
    --primary-bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --youtube: hsl(348, 97%, 39%);
    --toggle: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    --toggle-before: hsl(230, 22%, 74%);

    /* LIGHT THEME */
    --background: hsl(0, 0%, 100%);
    --top-cards: hsl(225, 100%, 98%);
    --bottom-cards: hsl(227, 47%, 96%);
    --muted-text: hsl(228, 12%, 44%);
    --primary-text: hsl(230, 17%, 14%);
}

.dark_theme {
    /* DARK THEME */
    --background: hsl(230, 17%, 14%);
    --top-cards: hsl(232, 19%, 15%);
    --bottom-cards: hsl(228, 28%, 20%);
    --muted-text: hsl(228, 34%, 66%);
    --primary-text: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background: var(--background);
    color: var(--primary-text);
}

.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.flex {
    display: flex;
}

.j-s-b {
    justify-content: space-between;
}

.j-c {
    justify-content: center;
    align-items: center;
}

header {
    background: var(--top-cards);
    padding: 40px 0 120px 0;
}

h1 {
    margin-bottom: 5px;
}

.card_wrraper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.dashboard_wrraper {
    margin-top: -90px;
}

.main_card {
    text-align: center ;
    position: relative;
}

.card {
    background: var(--bottom-cards);
    cursor: pointer;
    padding: 22px;
    border-radius: 5px;
    transition: all ease-out .35s;
}

.card:hover {
    background: #4683C3;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.facebook .bar {
    background-color: var(--facebook);
}


.twitter .bar {
    background: var(--twitter);
}

.instagram .bar {
    background: var(--instagram);
}

.youtube .bar {
    background: var(--youtube);
}

.main_card_s-m small {
    margin-left: 8px;
}

.number {
    font-size: 44px;
    font-weight: bold;
    margin: 10px 0;
}

.followers {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 18px;
    color: var(--muted-text);
}

.status p {
    margin-left: 5px;
    font-size: 11px;
    font-weight: bold;
}

.up p {
    color: var(--primary-lime-green);
}

.down p {
    color: var(--primary-bright-red)
}

.body__cards {
    margin-top: 30px;
    margin-bottom: 15px;
}

.body_card_heading {
    margin-bottom: 15px;
}

.in_card_top {
    margin-bottom: 20px;
}

.in_card_top h5 {
    color: var(--muted-text);
}

.num {
    font-size: 28px;
    font-weight: bold;
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch {
    cursor: pointer;
    margin-left: 5px;
    min-width: 45px;
    width: 46px;
    height: 24px;
    background: var(--toggle-before);
    border-radius: 10px;
    position: relative;
}

.switch::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: var(--bottom-cards);
    transition: ease-in-out .35s;
    transform: translateX(0);
}

.switch.toggled {
    background: var(--toggle);
}

.switch.toggled::after {
    transform: translateX(21px);
}

@media only screen and (max-width: 991px) {
    .card_wrraper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
        grid-gap: 20px;
    }
}